# make sure its safe to use the student-modified minilibX as that would save us 
years of stress and white hair

we need 3 objects minimum: sphere, plane, and cylinder

and.. yea pretty much it

a nice good note: search "REMOVE/CHANGE LATER" for any highlights that should be removed before submission.